<div class="container-fluid" id="authentication-wrapper">
  <form [formGroup]="userForm"  class="form-horizontal" (ngSubmit)="userForm.valid && formSubmit()" novalidate >
    <div id="welcome-message">
      <h4>Please Log in</h4>
    </div>
    <!--<div id="wrap">
      <img src="https://bit.ly/2udBml1" alt="profile picture">
    </div>-->
    <strong style="color: red;">{{errorMessage}}</strong>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <kendo-textbox-container floatingLabel="Username">
          <input kendoTextBox type="email" formControlName="username"/>
        </kendo-textbox-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <kendo-textbox-container floatingLabel="Password">
          <input kendoTextBox type="password" formControlName="password" />
        </kendo-textbox-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <button class="submit-btn btn btn-success"> Login </button>
      </div>
    </div>
  </form>
  </div>
